.card {
	height: 380px;
	width: auto;
	max-width: 350px;
	margin: 15px;

	p {
		text-align: center;
	}

	&:hover > .QR {
		filter: blur(0);
		transition: 0.3s;
	}

	.title {
		font-weight: bold;
	}

	.icon {
		position: relative;
		width: 16px;
		height: 16px;
		left: 50%;
		margin: -8px;
		margin-bottom: 10px;
	}

	.QR {
		position: relative;
		left: 50%;
		margin-left: -100px;
		border: 2px solid #e3e3e3;
		padding: 5px;
		border-radius: 5px;
		box-shadow: inset 0 2px 2px rgba(0,0,0,0.05);
		background: white;
		margin-bottom: 20px;
		filter: blur(7px);
		transition: 0.3s;
	}

	.adress {
		border: 2px solid #e3e3e3;
		padding: 5px;
		border-radius: 5px;
		box-shadow: inset 0 2px 2px rgba(0,0,0,0.05);
		background: white;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}