body {
	background-color: #f4f7fa;
	font-family: 'Roboto', sans-serif;

	#refreshDelay {
		display:inline;
	}

	#main {
		margin-top: 25px;
		background-color: #FFF;
	}

	&.input-medium {
		height: 30px;
	}

	&.form-horizontal &.control-label{
		width: auto;
	}
}

