body {
  background-color: #f4f7fa;
  font-family: 'Roboto', sans-serif;
}
body #refreshDelay {
  display: inline;
}
body #main {
  margin-top: 25px;
  background-color: #FFF;
}
body.input-medium {
  height: 30px;
}
body.form-horizontal body.control-label {
  width: auto;
}
